html, body { 
	height: 100%;
	background: #5182A8;
}
.cwrapper {
	height: 90%;
	
	/*background: yellow;*/
	
}

.tcontent {
	height: 12%;
	margin-top: 2%;
	margin-right: 12px;
	margin-bottom: 10px;
	margin-left: 12px;
	text-align: center;
	background: green;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	padding: 7px;	
}

.tcontent h1 {
	font-size: 15px;
	color: black ;
}
.tcontent h2 {
	font-size: 30px;
	font-weight: 400;
}

.navbar {
	height: 8%;
	margin-top: 5px;
	margin-right: 40%;
	margin-left: 40%;
	background: grey;
	text-align: center;
	font-size: 15px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}
.navbar a {
	float: left;
	display: block;
	background-color: #ffbf00;
	color: white;
	padding: 15px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	margin: 2px;
}
.navbar a:hover {
	background-color: #ee5f3c;
}
.gameBoard {
	height: auto;
	width: auto;
	margin-bottom: 2%;
	

	display: inline-block;
	background: red;
	margin-top: 1%;
	margin-right: 2%;
	margin-bottom: 1%;
	margin-left: 2%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
/*.info {
	float: left;
	width: 140px;
	height: 480px;
	margin: 5px;
	padding: 3px;
	background: yellow;
}*/

.allCards {
	float: left;
	height: auto;

	margin: 1px;
	background: orange;
	display: inline;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
}

.card {
	float: left;
	margin: 8px;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;

	background-image: url("../images/cardback.png");
	background-size: contain;
	background-repeat: no-repeat;
	
}


#queenCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/queen_card.png");
	background-size: contain;
	background-repeat: no-repeat;

}
#kingCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/king_card.png");
	background-size: contain;
	background-repeat: no-repeat;

}
#aceCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/aceCard.png");
	background-size: contain;
	background-repeat: no-repeat;

}
#twoCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/twoCard.png");
	background-size: contain;
	background-repeat: no-repeat;

}
#threeCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/threeCard.png");
	background-size: contain;
	background-repeat: no-repeat;

}
#fourCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/fourCard.png");
	background-size: contain;
	background-repeat: no-repeat;

}
#fiveCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/fiveCard.png");
	background-size: contain;
	background-repeat: no-repeat;

}
#sixCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/sixCard.png");
	background-size: contain;
	background-repeat: no-repeat;

}
#sevenCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/sevenCard.png");
	background-size: contain;
	background-repeat: no-repeat;

}
#eightCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/eightCard.png");
	background-size: contain;
	background-repeat: no-repeat;

}
#nineCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/nineCard.png");
	background-size: contain;
	background-repeat: no-repeat;

}
#tenCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/tenCard.png");
	background-size: contain;
	background-repeat: no-repeat;

}
#jackCard{
	float: left;
	height: 85px;
	width: 65px;
	border-color: black;
	border-style: solid;
	border-width: 4px;
	border-radius: 5px;
	background-image: url("../images/jackCard.png");
	background-size: contain;
	background-repeat: no-repeat;

}
.resetClick {
	background: blue;
}
.myname {

	display:inline-block;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.65),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.lower{
	margin-top: 20%;
	margin-bottom: -10%;
}

footer {
	background: pink;
	position: relative;
	width: 70%;
  	
  	bottom: 0;
  	
	height: 8%;
	margin-right: 10%;
	
	margin-left: 10%;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	clear: both;
		
}
